# Next.js Frontend Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=JobsOrbit

# Django Backend API URL
DJANGO_API_URL=http://127.0.0.1:8000/api/v1

# Cloudinary Media Configuration (Optional - for image uploads)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
