# Node & Next.js
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/
/build

# Misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*.local
.env
backend/.env
!.env.example
!backend/.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
backend/venv/
backend/staticfiles/
backend/media/
